<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<style>
    main {
        background-color: @Theme.Default.BackgroundColor;
        color: @Theme.Default.TextColor;
    }

    .page {
        background-color: @Theme.Default.BackgroundColor;
    }

    .sidebar {
        background-color: rgb(0, 0, 0, 0.1);
    }

    .navbar-brand {
		color: @Theme.Default.TextColor;
	}
</style>