<Router AppAssembly="@typeof(App).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		<FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<PageTitle>Not found</PageTitle>
		<LayoutView Layout="@typeof(MainLayout)">
			<p role="alert">Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>

<style>
	main {
		background-color: @Theme.Default.BackgroundColor;
		color: @Theme.Default.TextColor;
	}

	.page {
		background-color: @Theme.Default.BackgroundColor;
	}

	.sidebar {
		background-color: rgb(0, 0, 0, 0.1);
		color: @Theme.Default.TextColor;
	}

	.navbar-brand {
		color: @Theme.Default.TextColor;
	}

	.nav-item-text {
		color: @Theme.Default.TextColor;
	}


	.input-text {
		width: 70%;
		height: 30px;
		background: @Theme.Default.ForegroundColor;
		color: @Theme.Default.TextColor;
		border: none;
		border-radius: 5px;
		padding: 8px;
	}


	table {
		border-collapse: collapse;
		width: 100%;
		border-radius: 5px;
		color: @Theme.Default.TextColor;
	}

	th, td {
		border: 0.5px solid @Theme.Default.ForegroundColor;
		padding: 8px;
		text-align: left;
	}

	thead {
		background-color: @Theme.Default.ForegroundColor;
		color: white;
	}

	/* Style odd rows with a different background color */
	tbody tr:nth-child(odd) {
		background-color: @Theme.Default.PrimaryColor;
	}

	/* Style even rows with a different background color */
	tbody tr:nth-child(even) {
		background-color: @Theme.Default.ForegroundColor;
	}
</style>