@page "/editor"

@using MathJaxBlazor
@using StudyProject.Application
@using StudyProject.Application.Common.Builders
@using StudyProject.Core.ArticleAggregate
@using System.Text.RegularExpressions
@using StudyProject.Core.Models
@using StudyProject.Infrastructure

@inject DatabaseAccess context;

<PageTitle>Article Editor</PageTitle>


<style>
	.customtextarea {
		width: 100%;
		height: 700px;
		padding: 12px 20px;
		box-sizing: border-box;
		border-radius: 4px;
		background-color: @Theme.Default.ForegroundColor;
		font-size: 16px;
		resize: none;
		color: @Theme.Default.TextColor;
		border: none;
	}

	.customtext {
		height: 50px;
		padding: 12px 20px;
		box-sizing: border-box;
		border-radius: 4px;
		background-color: @Theme.Default.ForegroundColor;
		font-size: 16px;
		resize: none;
		color: @Theme.Default.TextColor;
		border: none;
		margin: 10px 0;
	}

	.previewbox {
		width: 100%;
		height: 100%;
		padding: 12px 20px;
		box-sizing: border-box;
		border-radius: 4px;
		background-color: @Theme.Default.ForegroundColor;
		font-size: 16px;
		resize: none;
		color: @Theme.Default.TextColor;
		border: none;
	}
</style>


<InputText class="customtext" @bind-Value="id" placeholder="Article id"/>

<ActionButton OnClick="async () => await FetchArticle()">Fetch Article</ActionButton>

<br />
<ActionButton OnClick="TogglePreview">Preview</ActionButton>


@if (preview)
{
	<h2>Preview</h2>
	<div class="previewbox">
		<ArticleViewer Article="article" />
	</div>
}
else
{
	<h2>Editor</h2>
	<InputText class="customtext" @bind-Value="article.Title" placeholder="Article Title" />
	<InputTextArea class="customtextarea" @bind-Value="article.Content" placeholder="@loremipsum" />
	<h3>Classification</h3>
	<div>Disciplines: <InputText class="customtext" @bind-Value="disciplines" /></div>
	<div>Subjects: <InputText class="customtext" @bind-Value="subjecs" /></div>
	<div>Topics: <InputText class="customtext" @bind-Value="topics" /></div>
}

<ActionButton OnClick="async () => await AddArticle()">Add Article</ActionButton>
<ActionButton OnClick="async () => await UpdateArticle()">Update Article</ActionButton>
<p>@logMessage</p>



@code {
	Article article = new();
	string id = "";
	bool preview = false;

	string disciplines = "";
	string topics = "";
	string subjecs = "";

	string logMessage = "";

	private void TogglePreview()
	{
		article.DisciplineIds = disciplines.Split(',').Select(x => x.Trim()).ToArray();
		article.TopicIds = topics.Split(',').Select(x => x.Trim()).ToArray();
		article.SubjectIds = subjecs.Split(',').Select(x => x.Trim()).ToArray();
		preview = !preview;
	}

	private async Task AddArticle()
	{
		try
		{
			article.DisciplineIds = disciplines.Split(',').Select(x => x.Trim()).ToArray();
			article.TopicIds = topics.Split(',').Select(x => x.Trim()).ToArray();
			article.SubjectIds = subjecs.Split(',').Select(x => x.Trim()).ToArray();

			string id = await context.AddArticleAsync(article);
			logMessage = $"Article added - ID: {id}";
		}
		catch (Exception e)
		{
			logMessage = $"Failed to create a new article! Returned error: {e.Message}";
		}
	}

	private async Task FetchArticle()
	{
		try
		{
			article = await context.GetArticleAsync(id);
			disciplines = string.Join(", ", article.DisciplineIds);
			topics = string.Join(", ", article.TopicIds);
			subjecs = string.Join(", ", article.SubjectIds);
			logMessage = $"Article fetched - ID: {id}!";
		}
		catch (Exception e)
		{
			logMessage = $"Failed to fetch article! Returned error: {e.Message}";
		}
	}

	private async Task UpdateArticle()
	{
		if (id == string.Empty)
		{
			logMessage = "ID is empty!";
			return;
		}
		try
		{
			article.DisciplineIds = disciplines.Split(',').Select(x => x.Trim()).ToArray();
			article.TopicIds = topics.Split(',').Select(x => x.Trim()).ToArray();
			article.SubjectIds = subjecs.Split(',').Select(x => x.Trim()).ToArray();
			await context.UpdateArticleAsync(id, article);
			logMessage = $"Article updated - ID: {id}";
		}
		catch (Exception e)
		{
			logMessage = $"Failed to update article! Returned error: {e.Message}";
		}
	}

	private const string loremipsum = @"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
}