@page "/solvers/Matriz"
@using System.Text
@using StudyProject.Application.Common.Builders
@using System.Numerics
@using TMath.Numerics
@using TMath.Numerics.AdvancedMath.LinearAlgebra
@using TMath.Numerics.Models
@using MathJaxBlazor

<PageTitle>Operações com matrizes</PageTitle>

<style>
	.page {
		overflow: hidden;
	}

	.custom-input-field {
		width: 30px;
		height: fit-content;
		background: @Theme.Default.ForegroundColor;
		color: @Theme.Default.TextColor;
		appearance: none;
		border: none;
		border-radius: 5px;
		padding: 0px 5px 0px 5px;
	}

		/* Hide the up and down arrows */
		.custom-input-field::-webkit-inner-spin-button,
		.custom-input-field::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		.custom-input-field[type="number"] {
			-moz-appearance: textfield;
		}
</style>

<h3>Matrix Operations</h3>

<div style="max-width: 75%; display: flex; justify-content: space-between;">
	<div style="text-align: center; margin-top: 20px;">
		<h4>Matrix A: <input type="number" class="custom-input-field" @bind-value="RowsA" /> x <input type="number" class="custom-input-field" @bind-value="ColumnsA" /></h4>
		<div style="display: inline-block;">
			@{
				int indexA = 0;
				@for (int i = 0; i < rowsA; i++)
				{
					<div>
						@for (int j = 0; j < columnsA; j++)
						{
							<ArrayNumberInputField Array="@a" index="indexA" />
							indexA++;
						}
					</div>
				}

			}
		</div>

		<div style="margin-top: 10px;">
			<div style="display: flex; justify-content: center;">
				<ActionButton OnClick="@(() => Transpose(TargetMatrix.MatrixA))">Transposta</ActionButton>
				<ActionButton OnClick="@(() => LUDecomposition(TargetMatrix.MatrixA))">Decomposição LU</ActionButton>
				<ActionButton OnClick="@(() => Inverse(TargetMatrix.MatrixA))">Inversa</ActionButton>
			</div>
			<div style="display: flex; justify-content: center;">
				<ActionButton OnClick="@(() => Determinant(TargetMatrix.MatrixA))">Determinante</ActionButton>
				<ActionButton OnClick="@(() => Rank(TargetMatrix.MatrixA))">Posto</ActionButton>
				<ActionButton OnClick="@(() => RowEchelonForm(TargetMatrix.MatrixA))">Forma Escada</ActionButton>
			</div>
		</div>
	</div>
	<div style="text-align: center; margin-top: 20px;">
		<h4>Matrix B: <input type="number" class="custom-input-field" @bind-value="RowsB" /> x <input type="number" class="custom-input-field" @bind-value="ColumnsB" /></h4>
		<div style="display: inline-block;">
			@{
				int indexB = 0;
				@for (int i = 0; i < rowsB; i++)
				{
					<div>
						@for (int j = 0; j < columnsB; j++)
						{
							<ArrayNumberInputField Array="@b" index="indexB" />
							indexB++;
						}
					</div>
				}

			}
		</div>

		<div style="margin-top: 10px;">
			<div style="display: flex; justify-content: center;">
				<ActionButton OnClick="@(() => Transpose(TargetMatrix.MatrixB))">Transposta</ActionButton>
				<ActionButton OnClick="@(() => LUDecomposition(TargetMatrix.MatrixB))">Decomposição LU</ActionButton>
				<ActionButton OnClick="@(() => Inverse(TargetMatrix.MatrixB))">Inversa</ActionButton>
			</div>
			<div style="display: flex; justify-content: center;">
				<ActionButton OnClick="@(() => Determinant(TargetMatrix.MatrixB))">Determinante</ActionButton>
				<ActionButton OnClick="@(() => Rank(TargetMatrix.MatrixB))">Posto</ActionButton>
				<ActionButton OnClick="@(() => RowEchelonForm(TargetMatrix.MatrixB))">Forma Escada</ActionButton>
			</div>
		</div>
	</div>

</div>

<Divider />
<ActionButton OnClick="@Add"><Equation Value="A + B" /></ActionButton>
<ActionButton OnClick="@Subtract"><Equation Value="A - B" /></ActionButton>
<ActionButton OnClick="@Multiply"><Equation Value="A \cdot B" /></ActionButton>
<Divider />
<Equation Value="@output" TeXDisplay="false" />
<Divider />
<h3>Passo a passo</h3>
<Equation Value="@stepbystep" TeXDisplay="false" />


@code {
	#region Fields and Properties
	int rowsA = 3, rowsB = 3, columnsA = 3, columnsB = 3;

	int RowsA
	{
		get => rowsA;
		set
		{
			rowsA = value;
			Resize(TargetMatrix.MatrixA);
		}
	}

	int RowsB
	{
		get => rowsB;
		set
		{
			rowsB = value;
			Resize(TargetMatrix.MatrixB);
		}
	}

	int ColumnsA
	{
		get => columnsA;
		set
		{
			columnsA = value;
			Resize(TargetMatrix.MatrixA);
		}
	}

	int ColumnsB
	{
		get => columnsB;
		set
		{
			columnsB = value;
			Resize(TargetMatrix.MatrixB);
		}
	}

	ArrayReference<double> a = new(new double[9]), b = new(new double[9]);
	string output = "", stepbystep = "";
	private enum TargetMatrix { MatrixA, MatrixB }

	#endregion

	private void Resize(TargetMatrix target)
	{
		if (target == TargetMatrix.MatrixA)
		{
			a = new ArrayReference<double>(new double[rowsA * columnsA]);
		}
		else
		{
			b = new ArrayReference<double>(new double[rowsB * columnsB]);
		}
	}

	private void Add()
	{
		TMatrix<double> matrixA = new TMatrix<double>(rowsA, columnsA, a.array);
		TMatrix<double> matrixB = new TMatrix<double>(rowsB, columnsB, b.array);
		TMatrix<double> sum = matrixA + matrixB;

		StringBuilder sb = new();
		sb.Append("""\begin{pmatrix}""");
		for (int i = 0; i < sum.Rows; i++)
		{
			for (int j = 0; j < sum.Columns; j++)
			{
				sb.Append($"{matrixA[i, j]} + {matrixB[i, j]}");
				if (j + 1 < sum.Columns)
				{
					sb.Append(" & ");
				}
			}
			sb.Append("""\\""");
		}
		sb.Append("""\end{pmatrix}""");
		stepbystep = $@"\begin{{align*}} {matrixA.ToLaTeX()} + {matrixB.ToLaTeX()} &= {sb.ToString()} \\ &= {sum.ToLaTeX()} \end{{align*}}";

		output = $@"{matrixA.ToLaTeX()} + {matrixB.ToLaTeX()} = {sum.ToLaTeX()}";
	}

	private void Subtract()
	{
		TMatrix<double> matrixA = new TMatrix<double>(rowsA, columnsA, a.array);
		TMatrix<double> matrixB = new TMatrix<double>(rowsB, columnsB, b.array);
		TMatrix<double> difference = matrixA - matrixB;
		output = $@"{matrixA.ToLaTeX()} - {matrixB.ToLaTeX()} = {difference.ToLaTeX()}";


		StringBuilder sb = new();
		sb.Append("""\begin{pmatrix}""");
		for (int i = 0; i < difference.Rows; i++)
		{
			for (int j = 0; j < difference.Columns; j++)
			{
				sb.Append($"{matrixA[i, j]} - {matrixB[i, j]}");
				if (j + 1 < difference.Columns)
				{
					sb.Append(" & ");
				}
			}
			sb.Append("""\\""");
		}
		sb.Append("""\end{pmatrix}""");
		stepbystep = $@"\begin{{align*}} {matrixA.ToLaTeX()} - {matrixB.ToLaTeX()} &= {sb.ToString()} \\ &= {difference.ToLaTeX()} \end{{align*}}";
	}

	private void Multiply()
	{
		Console.WriteLine(string.Join(',', a.array));
		Console.WriteLine(string.Join(',', a.array));
		TMatrix<double> matrixA = new TMatrix<double>(rowsA, columnsA, a.array);
		TMatrix<double> matrixB = new TMatrix<double>(rowsB, columnsB, b.array);
		TMatrix<double> product = matrixA * matrixB;
		output = $@"{matrixA.ToLaTeX()} \cdot {matrixB.ToLaTeX()} = {product.ToLaTeX()}";


		StringBuilder sb = new();

		sb.Append("""\begin{pmatrix}""");

		for (int i = 0; i < matrixA.Rows; i++)
		{
			for (int j = 0; j < matrixB.Columns; j++)
			{
				for (int k = 0; k < matrixA.Columns; k++)
				{
					sb.Append($"{matrixA[i, k]} * {matrixB[k, j]}");
					if (k + 1 < matrixA.Columns)
						sb.Append(" + ");
				}
				if (j + 1 < product.Columns)
				{
					sb.Append(" & ");
				}
			}
			sb.Append("""\\""");
		}

		sb.Append("""\end{pmatrix}""");
		stepbystep = $@"\begin{{align*}} {matrixA.ToLaTeX()} * {matrixB.ToLaTeX()} &= {sb.ToString()}\\ &= {product.ToLaTeX()} \end{{align*}}";
	}


	private void Transpose(TargetMatrix target)
	{
		TMatrix<double> matrix;
		if (target == TargetMatrix.MatrixA)
			matrix = new TMatrix<double>(rowsA, columnsA, a.array);
		else matrix = new TMatrix<double>(rowsB, columnsB, b.array);
		TMatrix<double> transposed = matrix.Transpose();
		output = $"{matrix.ToLaTeX()}^T = {transposed.ToLaTeX()}";
		stepbystep = @"\text{ A transposta é resultado da troca ordenada das linhas pelas colunas da matriz original. }";
	}

	private void LUDecomposition(TargetMatrix target)
	{
		TMatrix<double> matrix;
		if (target == TargetMatrix.MatrixA)
			matrix = new TMatrix<double>(rowsA, columnsA, a.array);
		else matrix = new TMatrix<double>(rowsB, columnsB, b.array);
		TLinearAlgebra.LUDecomposition(matrix, out var u, out var l, out var p, out var steps);
		output = $@"{p.ToLaTeX()} \cdot {matrix.ToLaTeX()} = {l.RoundValues(5).ToLaTeX()} \cdot {u.RoundValues(5).ToLaTeX()}";

		StringBuilder sb = new();
		sb.Append(@"\begin{align*}");
		sb.Append("&");
		foreach(var s in steps)
		{
			sb.Append($"{s.CurrentState.ToLaTeX()} {SanitizeLatex(s.NextOperation)}\\\\ &\\sim ");
		}
		sb.Append(u.ToLaTeX());
		sb.Append(@"\end{align*}");
		stepbystep = sb.ToString();
	}

	private void Inverse(TargetMatrix target)
	{
		try
		{
			TMatrix<double> matrix;
			if (target == TargetMatrix.MatrixA)
				matrix = new TMatrix<double>(rowsA, columnsA, a.array);
			else matrix = new TMatrix<double>(rowsB, columnsB, b.array);
			TMatrix<double> inverse = TLinearAlgebra.Inverse(matrix);
			output = $@"{matrix.ToLaTeX()}^{{-1}} = {inverse.ToLaTeX()}";
		}
		catch (ArgumentException)
		{
			output = $@"\text{{Matrix deve ser inversivel, isto é, }} det(M) \neq 0";
		}
	}

	private void Rank(TargetMatrix target)
	{
		TMatrix<double> matrix;
		if (target == TargetMatrix.MatrixA)
			matrix = new TMatrix<double>(rowsA, columnsA, a.array);
		else matrix = new TMatrix<double>(rowsB, columnsB, b.array);
		var rank = TLinearAlgebra.Rank(matrix);
		output = $@"\text{{Posto de }} {matrix.ToLaTeX()} = {rank}";
		stepbystep = @"\text{O posto de uma matriz é o número de linhas não-nulas da matriz em causa, quando escrita na forma escalonada por linhas.}";
	}

	private void Determinant(TargetMatrix target)
	{
		TMatrix<double> matrix;
		if (target == TargetMatrix.MatrixA)
			matrix = new TMatrix<double>(rowsA, columnsA, a.array);
		else matrix = new TMatrix<double>(rowsB, columnsB, b.array);
		double determinant = TLinearAlgebra.Determinant(matrix);
		output = $@"{matrix.ToLaTeX("vmatrix")} = {determinant}";
	}

	private void RowEchelonForm(TargetMatrix target)
	{
		TMatrix<double> matrix;
		if (target == TargetMatrix.MatrixA)
			matrix = new TMatrix<double>(rowsA, columnsA, a.array);
		else matrix = new TMatrix<double>(rowsB, columnsB, b.array);
		var rowEchelon = TLinearAlgebra.RowEchelon(matrix, out var steps);
		output = $@"\text{{Forma escada de }} {matrix.ToLaTeX()} = {rowEchelon.ToLaTeX()}";

		StringBuilder sb = new();
		sb.Append(@"\begin{align*}");
		sb.Append("&");
		foreach (var s in steps)
		{
			sb.Append($"{s.CurrentState.ToLaTeX()} {SanitizeLatex(s.NextOperation)}\\\\ &\\sim ");
		}
		sb.Append(rowEchelon.ToLaTeX());
		sb.Append(@"\end{align*}");
		stepbystep = sb.ToString();
	}

	private string SanitizeLatex(string tex)
	{
		if(tex.Contains("Swap", StringComparison.InvariantCultureIgnoreCase))
		{
			return $@"\text{{{tex}}}";
		}
		return tex.Replace("l", "l_").Replace("<--", "\\leftarrow").Replace("*", "\\cdot");
	}
}


