@page "/calculadoras/Estatistica"
@using TMath
@using TMath.Numerics
@using TMath.Numerics.Models
@using MathJaxBlazor

<PageTitle>Calculadora de estatistica</PageTitle>

<h3>Estatisticas</h3>
Calcule a média, médiana, modo, variança e desvio padrão (amostral e populacional) e média geométrica

<br />

<div>
	@if (showFormulas)
	{
		<ActionButton OnClick="() => showFormulas = !showFormulas">Ocultar formulas</ActionButton>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>Formula</th>
					<th>Info</th>
					<!-- Add more header cells if needed -->
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Média</td>
					<td><Equation Value=" \overline{x} = \frac{1}{n} \sum_{i=i}^{n} x_{i} " /></td>
					<td></td>
				</tr>
				<tr>
					<td>Mediana</td>
					<td><Equation Value=" med(X) = \left \{\begin{align*}  &X\left [ \frac{n+1}{2}\right] &\text{para n impar} \\ &\frac{X[\frac{n}{2}] + X[\frac{n}{2} + 1]}{2} &\text{para n par}\\ \end{align*} \right." /></td>
					<td><Equation Value="X =" TeXDisplay="false" /> lista ordenada de valores <br /> <Equation Value="n =" TeXDisplay="false" /> número de valores da lista </td>
				</tr>
				<tr>
					<td>Modo</td>
					<td>There is no formula</td>
					<td>Valor mais frequente na lista</td>
				</tr>
				<tr>
					<td>Variança Amostral</td>
					<td><Equation Value="\sigma^2 = \frac{\sum (x_i - \overline{x})^2}{n - 1} " /></td>
					<td><Equation Value="x_i =" TeXDisplay="false" /> valor na lista <br /> <Equation Value="\overline{x} =" TeXDisplay="false" /> média da lista <br /> <Equation Value="n =" TeXDisplay="false" /> número de valores da lista </td>
				</tr>
				<tr>
					<td>Desvio Padrão Amostral</td>
					<td><Equation Value="\sigma = \sqrt{\frac{\sum (x_i - \overline{x})^2}{n - 1}}" /></td>
					<td><Equation Value="x_i =" TeXDisplay="false" /> valor na lista <br /> <Equation Value="\overline{x} =" TeXDisplay="false" /> média da lista <br /> <Equation Value="n =" TeXDisplay="false" /> número de valores da lista </td>
				</tr>
				<tr>
					<td>Média Geométrica</td>
					<td><Equation Value="\overline{x}_{geom} = \left(\prod_{i=1}^{n} x_{i}\right)^{\frac{1}{n}} = \sqrt[n]{x_1 \cdot x_2 \cdot \cdots \cdot x_n}" /></td>
					<td><Equation Value="x_i =" TeXDisplay="false" /> valor na lista <br /> <Equation Value="n =" TeXDisplay="false" /> número de valores da lista </td>
				</tr>
				<tr>
					<td>Variança Populacional</td>
					<td><Equation Value="\sigma^2 = \frac{\sum (x_i - \overline{x})^2}{n} " /></td>
					<td><Equation Value="x_i =" TeXDisplay="false" /> valor na lista <br /> <Equation Value="\overline{x} =" TeXDisplay="false" /> média da lista <br /> <Equation Value="n =" TeXDisplay="false" /> número de valores da lista </td>
				</tr>
				<tr>
					<td>Desvio Padrão Populacional</td>
					<td><Equation Value="\sigma = \sqrt{\frac{\sum (x_i - \overline{x})^2}{n}}" /></td>
					<td><Equation Value="x_i =" TeXDisplay="false" /> valor na lista <br /> <Equation Value="\overline{x} =" TeXDisplay="false" /> média da lista <br /> <Equation Value="n =" TeXDisplay="false" /> número de valores da lista </td>
				</tr>
			</tbody>
		</table>
	}
	else
	{
		<ActionButton OnClick="() => showFormulas = !showFormulas">Mostrar formulas</ActionButton>
	}
</div>



<br />
<div>
	<InputText class="input-text" @bind-Value="input" placeholder="Digite seus valores" />
</div>
<br />
<ActionButton OnClick="CalculateData">Computar resultados</ActionButton>
<Divider />
<br />
@if (stats == null)
{
	<p>Escreva seus valores separados de uma vírgula (,), espaços não são necessários</p>
	<p>Por exemplo: 1, 2, 3, 4, 5</p>
}
else
{
	<table>
		<thead>
		</thead>
		<tbody>
			<tr>
				<td>Média</td>
				<td>@stats.Mean</td>
			</tr>
			<tr>
				<td>Mediana</td>
				<td>@stats.Median</td>
			</tr>
			<tr>
				<td>Intervalo</td>
				<td>@stats.Range</td>
			</tr>
			<tr>
				<td>Modo</td>
				<td>@stats.Mode</td>
			</tr>
			<tr>
				<td>Soma</td>
				<td>@stats.Sum</td>
			</tr>
			<tr>
				<td>Variança Amostral</td>
				<td>@stats.SampleVariance</td>
			</tr>
			<tr>
				<td>Desvio Padrão Amostral</td>
				<td>@stats.SampleStandardDeviation</td>
			</tr>
			<tr>
				<td>Maior elemento</td>
				<td>@stats.Largest</td>
			</tr>
			<tr>
				<td>Menor elemento</td>
				<td>@stats.Smallest</td>
			</tr>
			<tr>
				<td>Variança Populacional</td>
				<td>@stats.Variance</td>
			</tr>
			<tr>
				<td>Desvio Padrão Populacional</td>
				<td>@stats.StandardDeviation</td>
			</tr>
			<tr>
				<td>Média Geométrica</td>
				<td>@stats.GeometricMean</td>
			</tr>
		</tbody>
	</table>

	<Divider />
}

@code {
	private bool showFormulas = false;
	private string input;
	DescriptiveStatistics<double> stats = null;
	private void CalculateData()
	{
		if (string.IsNullOrWhiteSpace(input))
		{
			return;
		}
		var data = ProcessInput();
		stats = new(data);
	}

	private double[] ProcessInput()
	{
		return input.Replace(" ", "").Split(',').Select(x => double.Parse(x)).ToArray();
	}
}
